@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: oklch(0.3995 0.0733 169.47);
  --color-secondary: oklch(0.7706 0.1667 123.38);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.blockrenderer {
  h1 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
    color: var(--color-primary);
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--spacing) * 4);
  }

  h2 {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
    color: var(--color-primary);
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--spacing) * 4);
  }

  h3 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
    color: var(--color-primary);
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--spacing) * 4);
  }
}
